FORMAT: 1A
HOST: http://itas.apiary.io/
VERSION: 1.0

# ECTP Specific ITAS Web Services

This collection of end points are specific to ECTP

# Group Finance

## Invoice Bank Accounts [/ITAS/ClientFunctions/Finance/{TradingEntityId}/InvoiceBankAccount]
Account details for Banks nominated during the Invoicing process. As such requires nomination of the Trading Entity in the URI.

### InvoiceBankAccount Lookup [GET]

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|DocumentReference|xtx01_docref|`string`|9||`required`|
|ECTPBankName|xtx01_ownbankname|`string`|40|||
|ECTPBankBranch|chr23_bankbranch|`number`|0|||
|ECTPBankSwift|chr23_swift|`string`|50|||
|ECTPBankAccNum|xtx01_ownbankaccnum|`string`|34|||
|CPBankName|xtx01_bankname|`string`|40|||
|CPBankBranch|chr23_bankbranch|`number`|0|||
|CPBankSwift|chr23_swift|`string`|50|||
|CPBankAccNum|xtx01_bankaccnum|`string`|34|||


+ Request
    [AccessToken][]

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Data (BankNomination)
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)

# Group Data Functions

## Report Export Request [/ITAS/ClientFunctions/Data/Service100Export/]
Reporting extract request specific to end of day off-system reconciliation processes. <br />
This endpoint initialises the export of data to three tables: • GPLRep P&L, • GPLRep Valuation and • Trade Data (derived from phys01).

|property|description|type|max length|notes|constraint|
|--------|-----------|----|----------|-----|----------|
|Request|Indicates Initiation|`string`|||send value `‘InitiateExport’`|
|TEIDList|list of Trading Entities to include in the export.|`array`|2|||
|DateToProcess|Represent the requested ‘close of business’ day.|`datetime`||||

### Create ReportExportRequest [POST]

+ Request (application/json; charset=utf-8)
    + Header

            AccessToken:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg

    + Attributes (Service100Export Request)

+ Response 200 (application/json; charset=utf-8)
    + Attributes 
        + Response (200 SuccessResponse)

+ Response 400 (application/json; charset=utf-8)
    + Attributes (400 Response)

+ Response 404 (application/json; charset=utf-8)
    + Attributes (404 Response)


# Data Structures


## 200 SuccessResponse (object)
+ Value: Success (string)

## 200 CreateResponse (object)
+ Value: Created (string)

## 200 AuthoriseResponse (object)
+ Value: Authorised (string)

## 201 UpdateResponse (object)
+ Value: Updated (string)


## 400 Response (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array [400 ErrorMessageDetail])

## 400 BadPropertyResponse (object)
+ Response
    + Value: 400 Bad Request (string)
+ Messages (array[400 BadPropertyErrorMessageDetail])

## 400 ErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5058 - Data : The mandatory field {fieldName} was missing in the request body.` (string)

## 400 WarningMessageDetail (object)
+ Severity: Warning (string)
+ Message: `API50xx - Data : The field {fieldName} was not found.` (string)

## 400 InfoMessageDetail (object)
+ Severity: Information (string)
+ Message: `API50xx - Data : Now create xyz.` (string)

## 400 BadPropertyErrorMessageDetail (object)
+ Severity: Error (string)
+ Message: `API5068 - API : The value sent in the querystring variable {Property} is not allowed.` (string)


## 404 Response (object)
+ Response
    + Value: 404 Objet not found (string)
+ Messages (array[404 ErrorMessageDetailMessage])

## 404 ErrorMessageDetailMessage (object)
+ Severity: Warning (string)
+ Message: `API5067 - API : The value {TradingEntityId} sent as the TradingEntitiyId does not exist.` (string)

## AccessToken [/AT]
Model Header containing AccessToken

+ Model 
    + Header

            Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1bmlxdWVfbmFtZSI6ImRlZXBhayIsInN1YiI6ImRlZXBhayIsInJvbGUiOlsiNzk5YjhhNDEtYWI0ZS00MTBhLWI5MTktYzU3ZWFlMmFlMDI5IiwiZGVlcGFrIiwiQVNQLk5FVCBJZGVudGl0eSIsIjViNDE4ODE2LTI3ZjQtNGRlOC1iNmMyLTJlZTcxNjI3ZmJmYyIsIkFkbWluIiwiU3VwZXJBZG1pbiJdLCJpc3MiOiJodHRwOi8vbG9jYWxob3N0OjgwMjciLCJhdWQiOiI4MjkzNjk0MjJmNzA0NTIzODUxZDk4NTU2YjZkNTQyYiIsImV4cCI6MTQ1OTQzMjk0MSwibmJmIjoxNDU5NDMxMTQxfQ.JgPGxt0Ok5baKx0YMXlO6D9kUYrCWM-Kma9b9iMW8tg


## BankNomination (object)
+ DocumentReference: CP1500020 (required, string)
+ ECTPBankName: Bank Name (string)
+ ECTPBankBranch: 2344 (number)
+ ECTPBankSwift: qwerty (string)
+ ECTPBankAccNum: `5555-6666` (string)
+ CPBankName: Bank 1 Name (string)
+ CPBankBranch: 4566 (number)
+ CPBankSwift: asdfg (string)
+ CPBankAccNum: `2112-1212` (string)


## Service100Export Request (object)
+ Request: InitiateExport (required, string)
+ TEIDList (required, array [TradingEntityArray])
+ DateToProcess: `2016-06-23T00:00:00Z` (required, string)

## TradingEntityArray (object)
+ TEID: AB (string)


